
<div class="content items-list">
  <% if current_user %>
    <%= link_to(new_item_path, class: "add-item") do %>
      <span><strong>+</strong> Add item</span>
    <% end %>
  <% end %>
  <% @items.each do |item| %>
    <div class="item">
      <%= link_to(item, class: "link") do %>
        <span class="image-wrapper">
          <%= image_tag item.picture %>
        </span>
        <div class="info">
          <p class="title"><span><%= item.name %></span></p>
          <strong class="price"><%= item.price %> грн</strong>
        </div>
      <% end %>
      <% if current_user %>
        <div class="edit">
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
