<div class="content item-current padding-20">
	<p id="notice"><%= notice %></p>
	<%= image_tag @item.picture, class: "item-image" %>
	<p class="price"><%= @item.price %> грн</p>
	<p class="name"><%= @item.name %></p>
	<p class="shop">из <%= link_to @item.shop, "http://#{@item.shop}" %></p>
</div>
