<div class="content padding-20">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @item.name %>
	</p>

	<p>
	  <b>Link:</b>
	  <%= @item.link %>
	</p>

	<p>
	  <b>Picture:</b>
	  <%= @item.picture %>
	</p>

	<p>
	  <b>Price:</b>
	  <%= @item.price %>
	</p>
</div>
